body{
    /* background-image: url("../images/f1.jpg"); */
    font-family:'Oswald', sans-serif;

}
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}

#navbar{
    background-color:rgb(207, 91, 91);
    color: black;
}

hr{
    color: rgb(63, 95, 126);
}

.container{
    color: rgb(137, 148, 158);
}

#backgroundopacity{
    background: #34383b;
    opacity: .85;
}

#h3{
    margin:0 100px;
}

.card{
    margin:12px;
}

.footer{
    width:100;
    margin:auto;
    text-align:center;
    position: relative;
    bottom:0;
    padding-bottom:20px;
}
#personal-img{
    width:200px;
    height: 300px;
    float:left;
    margin-right: 10px;
    opacity: 1;
}

#connect{
    margin:auto;
    color:#3a4044
}
#bodytitle{
    margin:auto;
    float:none;
    clear:both;
}
